<ion-header>
  <ion-toolbar>
    <ion-buttons >
      <ion-menu-button>
        <ion-icon name="home-outline"></ion-icon>
      </ion-menu-button>
      <ion-item>
        <ion-button>
          <ion-icon name="apps-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="power-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>

  <!----->

</ion-header>
<ion-content>
  <ion-card>
    <ion-item href="#">
      Pordutos
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item href="#" >
      Balanço
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item href="#" >
      Metas
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item href="#" >
      De olho na validade
    </ion-item>
  </ion-card>
</ion-content>
