*{
 box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
}

ion-buttons{
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  img{
    height: 100%;
    width: 100%;
  }

.PordutosEBalanço{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 170px;
  width: 457px;
  margin:auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

ng-componet{
  display: flex;
  justify-content: center;
}

.produtos{
  height: 100%;
  width: 100%;
  background-color: #45213e;
}
.balanço{
  height: 100%;
  width: 100%;
  background-color: #912448;
}

.Vendas{
  margin: auto;
  height: 180px;
  width: 450px;
  text-align: center;

}

.validade{
  margin: auto;
  margin-top: 20px;
  text-align: center;
  height: 340px;
  width: 450px;
  background-color: #e1cb14;
}

.impressora{
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;

}

.barrademenu{
  background-color:#45213e ;
  padding-top: 0px;
  padding-bottom: 0px;
}


 .botaos{
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
 }

 .pda{
  display: flex;
  margin-top: 54px;
  margin-right: 120px;
  height: 130px;
  width: 122px;
  position: absolute;
  transform: rotate(36deg);

}

 .balanço:active{
  transition: all 0.1S;
  transform: translateX(1px)
   scale(0.9);
}

 .vibrador{
  position: absolute;
  margin-left: 120px;
  margin-top: 40px;
  height: 130px;
  display: flex;
  width: 80px;
 }


 .textProdutos{
    position: absolute;
    margin: 1;
    margin-top: 65px;
    font-size: 35px;
    color: white;
    font-family:'Montserrat';
    font-style: italic;
    font-weight: 100;

 }
 .textBalanco{
   position: absolute;
    margin: 1;
    margin-top: 60px;
    font-size: 40px;
    color: white;
    font-family:'Montserrat';
    font-style: italic;
    font-weight: 100;
}

.textVendas{
  position: absolute;
  margin: 1;
  margin-top: 53px;
  font-size: 40px;
  color: white;
  font-family:'Montserrat';
  font-style: italic;
  font-weight: 500;
}

.textValidade{
  display: flex;
  position: absolute;
  margin: 1;
  margin-top: 100px;
  font-size: 40px;
  color: white;
  font-family:'Montserrat';
  font-style: italic;
  font-weight: 500;

}

.autofalante{
    height: 220px;
    margin-top: 105px;
     margin-right: 280px;
    width: 250px;
    transform: rotate(-32deg);
}

.telavendas{
  position: absolute;
  filter: blur(1.5px)
}

div{
  display: flex;
  justify-content: center;
}

@media (min-width: 760px){
.PordutosEBalanço , .Vendas , .validade{
  width: 70%;
}
}

@media (max-width: 375px){
  .PordutosEBalanço , .Vendas , .validade{
    width: 100%;
  }
}

@media (min-width: 990px){
  ion-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.conteiner{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-x: auto;


}

.fundo{
  position: absolute;
  height: 54rem;
  opacity: calc(72%);
}

