<ion-header>
  <ion-toolbar class="barrademenu" color="barrademenu"  >
    <ion-buttons >
      <ion-menu-button>
        <ion-icon name="home-outline"></ion-icon>
      </ion-menu-button>

      <div class="botaos">
            <ion-button >
              <img src="assets/R.png" class="impressora">
            </ion-button>
        <ion-button>
          <ion-icon name="apps-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="power-outline"></ion-icon>
        </ion-button>
      </div>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <!----->

<ion-content class="container">

  <div class="PordutosEBalanço">
    <ion-card href="#" class="produtos">
      <div >
        <img src="assets/produtos3.png" class="vibrador"  >
        <ion-label class="textProdutos">Produtos</ion-label>
        </div>
      </ion-card>
      <ion-card href="#" class="balanço">
        <div>

          <img src="assets/pda.png" class="pda">
             <ion-label class="textBalanco">Balanço</ion-label>
        </div>
      </ion-card>
  </div>

    <ion-card href="#" class="Vendas" >

      <div class="test">
        <img src="assets/telavendas.png" class="telavendas">
        <ion-label class="textVendas">Vendas </ion-label>
      </div>
    </ion-card>

    <ion-card href="#" class="validade">
      <div>
        <img src="assets/autofalante.png"class="autofalante">
        <ion-label class="textValidade">De olho na validade </ion-label>
      </div>
    </ion-card>

</ion-content>


