*{
 box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
}


ion-buttons{
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  img{
    height: 100%;
    width: 100%;
  }

.PordutosEBalanço{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 170px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.produtos{
  height: 100%;
  width: 100%;
  background-color: #45213e;
}
.balanço{
  height: 100%;
  width: 100%;
  background-color: #912448;
}

.Vendas{
  margin-top: 30px;
  height: 180px;
  text-align: center;
}

.validade{
  margin-top: 40px;
  text-align: center;
  height: 340px;
  background-color: #e1cb14;
}

.impressora{
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;

}

.barrademenu{
  background-color:#45213e ;
  padding-top: 0px;
  padding-bottom: 0px;
}


 .botaos{
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
 }

 .pda{
  display: flex;
  margin-top: 54px;
  margin-right: 120px;
  height: 130px;
  width: 122px;
  position: absolute;
  transform: rotate(36deg);

}

 .balanço:active{
  transition: all 0.1S;
  transform: translateX(1px)
   scale(1.1);
}

 .vibrador{
  position: absolute;
  margin-left: 120px;
  margin-top: 40px;
  height: 130px;
  display: flex;
  width: 80px;
 }
 .card-native {
   display: flex;
   justify-content: center;
 }

 .textProdutos{
    position: absolute;
    margin: 1;
    margin-top: 65px;
    font-size: 35px;
    color: white;
    font-family:'Montserrat';
    font-style: italic;
    font-weight: 100;


 }
 .textBalanco{
   position: absolute;
    margin: 1;
    margin-top: 60px;
    font-size: 40px;
    color: white;
    font-family:'Montserrat';
    font-style: italic;
    font-weight: 100;
}
.textVendas{
  position: absolute;
  margin: 1;
  margin-top: 53px;
  font-size: 40px;
  color: white;
  font-family:'Montserrat';
  font-style: italic;
  font-weight: 500;
}
.textValidade{
  display: flex;
  position: absolute;
  margin: 1;
  margin-top: 100px;
  font-size: 40px;
  color: white;
  font-family:'Montserrat';
  font-style: italic;
  font-weight: 500;

}

.autofalante{
    height: 220px;
    margin-top: 130px;
    margin-left: 20px;
    width: 250px;
    transform: rotate(-32deg);
    filter: saturate(7);
}

.telavendas{
  position: absolute;
  filter: blur(1.5px)
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;


}

div{
  display: flex;
  justify-content: center;
}

@media (min-width: 650px){
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .PordutosEBalanço, .Vendas, .validade {
    align-items: center;
    position: relative;
    width: 70%;

    }

}

@media(min-width: 990px){
  ion-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}






