*{
  box-sizing: border-box;
 
 }
ion-list.cabeçalho{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #45213e;
  height: 56px;
  }

.test{
  background-color: #45213e;
}

ion-avatar.avatar{
  display: flex;
  height: 52px;
  width: 70px;
}

.logo{
  display: flex;
  margin-left: 45px;
}


