
 <ion-toolbar class="barrademenu" color="barrademenu"  >
    <ion-buttons >
      <ion-menu-button>
        <ion-icon name="home-outline"></ion-icon>
      </ion-menu-button>

      <div class="botaos">
          <ion-button>
              <img src="../assets/R.png" class="impressora"></ion-button>
        <ion-button>
          <ion-icon name="apps-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="power-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
    </ion-toolbar>


<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="teste">1 of 3 </div>
      </ion-col>
      <ion-col>
       <div class="teste1">1 of 3 </div>
      </ion-col>
      <ion-col>
        <div class="teste2">1 of 3 </div>
      </ion-col>
      <ion-col>
        <div class="teste3">1 of 4 </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


