



<ion-content>

    <!-- Plano de Fundo -->
    <div class="fundo">
      <img src="assets/w2.jpg">
    </div>

  <!--Card de filtro-->
        <ion-card class="filtro" >
          <ion-grid class="Filtros">
            <ion-row>
              <label for="">Data:</label>
              <ion-col class="data">
                  <input type="text" class="input-data">
                  <div class="ate">
                    <span>Ate</span>
                  </div>
                  <input type="text" class="input-data-final">
              </ion-col >
              <label for="">Login:</label>
              <ion-col>
                <input class="login" placeholder="Login">
              </ion-col>
              <ion-col size="12">
                <label for="">IP:</label>
                <input class="login" placeholder="IP">
              </ion-col>
              <ion-label>Acesso:</ion-label>
              <ion-col>
                <ion-item>
                  <ion-select value="Todos" interface="action-sheet">
                    <ion-select-option value="Sucesso">Sucesso</ion-select-option>
                    <ion-select-option value="Sem Sucesso">Sem Sucesso</ion-select-option>
                    <ion-select-option value="Todos">Todos</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

  <!--Card de busca -->
        <ion-card  class="test-animation">
        <ion-grid>
          <ion-row >
            <ion-col Class="Quantidade">
              <ion-label class="mostrar">Mostrar</ion-label>
              <ion-select value="todos"  class="select">
             <ion-select-option value="16">16</ion-select-option>
             <ion-select-option value="32">32</ion-select-option>
             <ion-select-option value="50">50</ion-select-option>
             <ion-select-option value="100">100</ion-select-option>
            </ion-select>
              <ion-label class="mostrar">Registros por Pagina</ion-label>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col Class="Ordenar-por">
              <ion-label class="mostrar">Ordenar Por:</ion-label>
              <ion-select value="todos"  class="select">
             <ion-select-option value="Data">Data</ion-select-option>
             <ion-select-option value="nome">Nome</ion-select-option>
             <ion-select-option value="ip">ip</ion-select-option>
            </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col >
              <thead class="data-login-ip" >
                <tr>
                  <td>Data</td>
                </tr>
                <tr>
                  <td>login</td>
                </tr>
                <tr>
                  <td> ip</td>
                </tr>
              </thead>
              <tbody class="logs">
                <tr>
                  <td>Data</td>
                </tr>
                <tr>
                  <td>login</td>
                </tr>
                <tr>
                  <td> ip</td>
                </tr>
                <tr>
                <tr *ngFor="let acesso of acesso"  >
                  <td>
                    {{acesso.data}} {{acesso.login}} {{acesso.ip}}
                  </td>
                </tr>
                <tr *ngFor="let acesso of acesso">
                  <td>
                    {{acesso.login}}
                  </td>
                </tr>
                <tr>
                  <td *ngFor="let acesso of acesso">
                    {{acesso.ip}}
                  </td>
                </tr>
              </tbody>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

</ion-content>


