*{
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}

.impressora{
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
}

ion-buttons{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

ion-toolbar{
  background-color: #45213e;
}


ion-header {
  display: flex;
  position: relative;
}


ion-content{
  display: flex;
  align-items: center;
  justify-content: center;
}


.filtro{
  margin: 25px auto;
  height: 310px;
  width: 90%;
}


ion-content{
  display: flex;
  align-items: center;
}

ion-input{
  text-align: center;
  height: 35px;
  border: 0.5px #ccc solid;
  border-radius:  3px  3px  ;
}


ion-row{
  height: 100%;
  padding: 10px;
  display: grid;
  align-items: center;
  grid-gap: 10px;
}

.Quantidade{
  display: grid;
  grid-template-columns: 60px 2fr 2fr  ;
  align-items: center;
  grid-gap: 10px;
}
.Ordenar-por{
  display: grid;
  grid-template-columns: 60px 2fr 2fr  ;
  align-items: center;
  grid-gap: 10px;
}

.ate{
  display: flex;
  align-items: center;
  background: #fafbfc;
  border-color: #e4e537 !important;
  justify-content: center;
  height: 30px;
}

.input-data{
  width: 100%;
  height: 30px;
}

.input-data-final{
  width: 100%;
  height: 30px;
}

.login{
  width: 100%;
  height: 30px;
}

.data{
  display: grid;
  grid-template-columns: 2fr 30px 2fr   ;
  align-items: center;
}

@media (min-width: 992px){
  ion-row {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;

  }

}

.data-login-senha{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr ;
  border: solid 2px #ccc;
  ;
}
.logs{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr ;
  border: solid 1px #ccc;
  margin-top: 5px;
}

tr{
  border: solid 1px #ccc;
}

ion-card{
  margin: 25px auto;
  width: 90%;
}

ion-select{
  border: solid 1px black;
}

