
 <ion-toolbar class="barrademenu" color="barrademenu"  >
    <ion-buttons >
      <ion-menu-button>
        <ion-icon name="home-outline"></ion-icon>
      </ion-menu-button>

      <div class="botaos">
          <ion-button>
              <img src="../assets/R.png" class="impressora"></ion-button>
        <ion-button>
          <ion-icon name="apps-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="power-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
    </ion-toolbar>


<ion-content >
  <ion-card class="filtro" >
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
          This column will be 12 columns wide by default,
          9 columns at the small breakpoint,
          6 at the medium breakpoint, 4 at large, and 3 at xl.
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>



