
 <ion-toolbar class="barrademenu" color="barrademenu"  >
    <ion-buttons >
      <ion-menu-button>
        <ion-icon name="home-outline"></ion-icon>
      </ion-menu-button>

      <div class="botaos">
          <ion-button>
              <img src="../assets/R.png" class="impressora"></ion-button>
        <ion-button>
          <ion-icon name="apps-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="power-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
    </ion-toolbar>


<ion-content >
  <ion-card class="filtro" >
    <ion-grid class="Filtros">
      <ion-row>
        <label for="">Data:</label>
        <ion-col class="data">
            <input type="text" class="input-data">
            <div class="ate">
              <span>Ate</span>
            </div>
            <input type="text" class="input-data-final">
        </ion-col >
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>



