*{
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}

.impressora{
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
}

ion-buttons{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

ion-toolbar{
  background-color: #45213e;
}

ion-header {
  display: flex;
  position: relative;
}


ion-content{
  display: flex;
  align-items: center;
  justify-content: center;
}


.test{
  display: flex;
  margin: auto;
  height: 200px;

  background-color: black;
}

ion-row{
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr ;
}


.teste{
  background-color: black;
}
.teste1{
  background-color: red;
}
.teste2{
  background-color: yellow;
}
.teste3{
  background-color: green;
}
